body {
    font-size: 14px;
    font-family: 'Montserrat',sans-serif
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba
}

.home-slider .swiper-slide {
    text-align: center
}

.home-slider .swiper-slide img {
    display: block;
    margin: 0 auto
}

.home-slider .swiper-button-next:after,.home-slider .swiper-button-prev:after {
    font-size: 20px;
    color: #000
}

.home-slider .swiper-pagination-bullet-active {
    background: #fe9614 !important
}

.section_service {
    background: #fe9614;
    text-align: center;
    padding: 25px 0
}

.section_service .image {
    margin-bottom: 12px;
    height: 46px;
    display: block
}

.section_service h3 {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    padding-bottom: 5px
}

.section_service p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 166.9%;
    color: #FFFFFF;
    margin: 0
}

.section_product_hot {
    padding: 50px 0;
    background: #FFFAF0
}

@media (max-width: 767px) {
    .section_product_hot {
        padding:25px 0
    }
}

.section_product_hot .tab_big {
    height: 65px;
    line-height: 88px
}

@media (max-width: 991px) {
    .section_product_hot .tab_big {
        height:50px;
        line-height: 79px
    }
}

@media (max-width: 767px) {
    .section_product_hot .tab_big {
        line-height:unset;
        margin-bottom: 10px
    }
}

.section_product_hot .block-title h2 span {
    color: #1c5b41
}

.section_product_hot .tab_ul {
    padding: 0px 20px;
    position: relative
}

.section_product_hot .tab_ul ul {
    scrollbar-face-color:#367CD2;scrollbar-shadow-color:#FFFFFF;scrollbar-highlight-color:#FFFFFF;scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color:#FFFFFF;scrollbar-arrow-color:#FFFFFF;scrollbar-width: none
}

.section_product_hot .tab_ul ul::-webkit-scrollbar {
    width: 0;
    height: 0
}

.section_product_hot .tab_ul ul::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    height: 0
}

.section_product_hot .tab_ul ul::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: rgba(255,0,0,0.8);
    -webkit-box-shadow: none
}

.section_product_hot .tab_ul .button {
    position: absolute;
    top: 0%;
    z-index: 3;
    cursor: pointer
}

.section_product_hot .tab_ul .button.next {
    right: 0
}

.section_product_hot .tab_ul .button.prev {
    left: 0
}

.section_product_hot .tab_ul .button.prev svg path {
    stroke: #1c5b41
}

.section_product_hot .tab_ul .button.next2 {
    right: 0
}

.section_product_hot .tab_ul .button.prev2 {
    left: 0
}

.section_product_hot .tab_ul .button.prev2 svg path {
    stroke: #1c5b41
}

.section_product_hot .tab_ul .button.next3 {
    right: 0
}

.section_product_hot .tab_ul .button.prev3 {
    left: 0
}

.section_product_hot .tab_ul .button.prev3 svg path {
    stroke: #1c5b41
}

.section_product_hot .tab_ul ul {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    margin: 0px 20px;
    text-align: center
}

@media (max-width: 767px) {
    .section_product_hot .tab_ul .button {
        top:10px
    }
}

.section_product_hot ul {
    list-style: none;
    margin-top: 27px;
    text-align: right;
    padding: 0
}

@media (max-width: 767px) {
    .section_product_hot ul {
        margin-top:0;
        text-align: center
    }
}

.section_product_hot ul li {
    display: inline-block;
    margin: 0 10px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    padding: 0 20px;
    flex-shrink: 0;
    margin: 0;
    margin-right: 10px
}

.section_product_hot ul li span {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px
}

.section_product_hot ul li:hover {
    background: #fe9614;
    border-radius: 10px
}

.section_product_hot ul li:hover span {
    color: #fff
}

.section_product_hot ul .current {
    background: #fe9614;
    border-radius: 10px;
    padding: 0 20px
}

.section_product_hot ul .current span {
    color: #fff
}

.section_product_hot ul .view-more {
    height: 40px;
    line-height: 40px;
    border-radius: 4px
}

@media (max-width: 991px) {
    .section_product_hot ul .view-more {
        display:none
    }
}

.section_product_hot ul .view-more:hover {
    background: #fe9614
}

.section_product_hot .tab-content {
    display: none
}

.section_product_hot .tab-content.current {
    display: block
}

.section_product_hot .tab-content.current .a-center {
    text-align: center
}

.section_product_hot .tab-content .view-more {
    text-align: center;
    display: block
}

.section_product_hot .tab-content .view-more a {
    display: inline-block;
    padding: 20px 70px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    background: #1c5b41;
    border-radius: 10px
}

@media (max-width: 767px) {
    .section_product_hot .tab-content .view-more a {
        padding:10px 25px;
        font-size: 12px
    }
}

.section_product_hot .tab-content .view-more a:hover {
    background: #fe9614
}

.section_product_hot .tab-content .ajax-carousel {
    margin-bottom: 40px
}

.section_product_new {
    padding: 50px 0
}

.section_product_new img {
    border-radius: 10px
}

@media (max-width: 767px) {
    .section_product_new {
        padding:25px 0
    }

    .section_product_new .block-title h2:after {
        left: 15%
    }

    .section_product_new .banner {
        display: none
    }
}

.section_product_new .tab_big {
    height: 65px;
    line-height: 88px
}

@media (max-width: 991px) {
    .section_product_new .tab_big {
        height:50px;
        line-height: 79px
    }
}

@media (max-width: 767px) {
    .section_product_new .tab_big {
        line-height:unset;
        margin-bottom: 10px
    }
}

.section_product_new .tab_ul {
    padding: 0px 20px;
    position: relative
}

.section_product_new .tab_ul ul {
    scrollbar-face-color:#367CD2;scrollbar-shadow-color:#FFFFFF;scrollbar-highlight-color:#FFFFFF;scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color:#FFFFFF;scrollbar-arrow-color:#FFFFFF;scrollbar-width: none
}

.section_product_new .tab_ul ul::-webkit-scrollbar {
    width: 0;
    height: 0
}

.section_product_new .tab_ul ul::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    height: 0
}

.section_product_new .tab_ul ul::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: rgba(255,0,0,0.8);
    -webkit-box-shadow: none
}

.section_product_new .tab_ul .button {
    position: absolute;
    top: 0%;
    z-index: 3;
    cursor: pointer
}

.section_product_new .tab_ul .button.next {
    right: 0
}

.section_product_new .tab_ul .button.prev {
    left: 0
}

.section_product_new .tab_ul .button.prev svg path {
    stroke: #1c5b41
}

.section_product_new .tab_ul .button.next2 {
    right: 0
}

.section_product_new .tab_ul .button.prev2 {
    left: 0
}

.section_product_new .tab_ul .button.prev2 svg path {
    stroke: #1c5b41
}

.section_product_new .tab_ul .button.next3 {
    right: 0
}

.section_product_new .tab_ul .button.prev3 {
    left: 0
}

.section_product_new .tab_ul .button.prev3 svg path {
    stroke: #1c5b41
}

.section_product_new .tab_ul ul {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    margin: 0px 20px;
    text-align: center
}

@media (max-width: 767px) {
    .section_product_new .tab_ul .button {
        top:10px
    }
}

.section_product_new ul {
    list-style: none;
    margin-top: 27px;
    padding: 0;
    text-align: right
}

.section_product_new ul li {
    display: inline-block;
    margin-right: 20px;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    flex-shrink: 0;
    margin: 0;
    margin-right: 10px;
    cursor: pointer
}

.section_product_new ul li span {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px
}

.section_product_new ul li:hover {
    background: #fe9614;
    border-radius: 10px
}

.section_product_new ul li:hover span {
    color: #fff
}

.section_product_new ul .current {
    background: #fe9614;
    border-radius: 10px;
    padding: 0 20px
}

.section_product_new ul .current span {
    color: #fff
}

.section_product_new ul .view-more {
    height: 40px;
    line-height: 40px;
    border-radius: 4px
}

.section_product_new ul .view-more:hover {
    background: #fe9614
}

@media (max-width: 991px) {
    .section_product_new ul .view-more {
        display:none
    }
}

.section_product_new .tab-content {
    display: none
}

.section_product_new .tab-content.current {
    display: block
}

.section_product_new .tab-content.current .a-center {
    text-align: center
}

.section_product_new .tab-content .view-more {
    text-align: center;
    display: block
}

.section_product_new .tab-content .view-more a {
    display: inline-block;
    padding: 20px 70px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    background: #1c5b41;
    border-radius: 10px
}

@media (max-width: 767px) {
    .section_product_new .tab-content .view-more a {
        padding:10px 20px
    }
}

.section_product_new .tab-content .view-more a:hover {
    background: #fe9614
}

.section_product_new .tab-content .swiper_tab {
    margin-bottom: 40px
}

.section_product_sale {
    background: #1c5b41;
    padding: 50px 0
}

.section_product_sale .block-title a {
    color: #fff
}

.section_product_sale .block-title a:hover {
    color: #fe9614
}

@media (max-width: 767px) {
    .section_product_sale .block-title h2:after {
        bottom:95px;
        left: 24%
    }
}

@media (max-width: 767px) {
    .section_product_sale .block-title {
        padding:0 60px
    }
}

@media (max-width: 374px) {
    .section_product_sale .block-title {
        padding:0 40px
    }
}

.section_product_sale .banner_sale {
    margin-bottom: 20px
}

.section_product_sale .product-name a {
    color: #fff !important
}

.section_product_sale .compare-price {
    color: #fff !important;
    font-size: 12px !important
}

.section_product_sale .view-more {
    text-align: center;
    display: block
}

.section_product_sale .view-more a {
    display: inline-block;
    padding: 20px 70px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    background: #fe9614;
    border-radius: 10px
}

@media (max-width: 767px) {
    .section_product_sale .view-more a {
        padding:10px 25px;
        font-size: 12px
    }
}

.section_product_sale .view-more a:hover {
    background: #fff;
    color: #fe9614
}

.section_product_sale .swiper-container {
    margin-bottom: 35px
}

.section_product_goodprice {
    padding: 50px 0;
    background: #FFFAF0
}

.section_product_goodprice img {
    border-radius: 10px
}

@media (max-width: 767px) {
    .section_product_goodprice {
        padding:25px 0
    }
}

@media (max-width: 767px) {
    .section_product_goodprice .banner {
        margin-bottom:20px
    }
}

@media (max-width: 767px) {
    .section_product_goodprice .block-title h2:after {
        left:24%
    }
}

.section_product_goodprice .tab_big {
    height: 65px;
    line-height: 88px
}

@media (max-width: 991px) {
    .section_product_goodprice .tab_big {
        height:50px;
        line-height: 79px
    }
}

@media (max-width: 767px) {
    .section_product_goodprice .tab_big {
        height:50px;
        line-height: unset;
        margin-bottom: 10px
    }
}

.section_product_goodprice .tab_ul {
    padding: 0px 20px;
    position: relative
}

.section_product_goodprice .tab_ul ul {
    scrollbar-face-color:#367CD2;scrollbar-shadow-color:#FFFFFF;scrollbar-highlight-color:#FFFFFF;scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color:#FFFFFF;scrollbar-arrow-color:#FFFFFF;scrollbar-width: none
}

.section_product_goodprice .tab_ul ul::-webkit-scrollbar {
    width: 0;
    height: 0
}

.section_product_goodprice .tab_ul ul::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    height: 0
}

.section_product_goodprice .tab_ul ul::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: rgba(255,0,0,0.8);
    -webkit-box-shadow: none
}

.section_product_goodprice .tab_ul .button {
    position: absolute;
    top: 0%;
    z-index: 3;
    cursor: pointer
}

.section_product_goodprice .tab_ul .button.next {
    right: 0
}

.section_product_goodprice .tab_ul .button.prev {
    left: 0
}

.section_product_goodprice .tab_ul .button.prev svg path {
    stroke: #1c5b41
}

.section_product_goodprice .tab_ul .button.next2 {
    right: 0
}

.section_product_goodprice .tab_ul .button.prev2 {
    left: 0
}

.section_product_goodprice .tab_ul .button.prev2 svg path {
    stroke: #1c5b41
}

.section_product_goodprice .tab_ul .button.next3 {
    right: 0
}

.section_product_goodprice .tab_ul .button.prev3 {
    left: 0
}

.section_product_goodprice .tab_ul .button.prev3 svg path {
    stroke: #1c5b41
}

.section_product_goodprice .tab_ul ul {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    margin: 0px 20px;
    text-align: center
}

@media (max-width: 767px) {
    .section_product_goodprice .tab_ul .button {
        top:10px
    }
}

.section_product_goodprice ul {
    list-style: none;
    margin-top: 27px;
    padding: 0;
    text-align: right
}

.section_product_goodprice ul li {
    display: inline-block;
    margin-right: 20px;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    flex-shrink: 0;
    margin: 0;
    margin-right: 10px;
    cursor: pointer
}

.section_product_goodprice ul li span {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px
}

.section_product_goodprice ul li:hover {
    background: #fe9614;
    border-radius: 10px
}

.section_product_goodprice ul li:hover span {
    color: #fff
}

.section_product_goodprice ul .current {
    background: #fe9614;
    border-radius: 10px;
    padding: 0 20px
}

.section_product_goodprice ul .current span {
    color: #fff
}

.section_product_goodprice ul .view-more {
    height: 40px;
    line-height: 40px;
    border-radius: 4px
}

.section_product_goodprice ul .view-more:hover {
    background: #fe9614
}

@media (max-width: 991px) {
    .section_product_goodprice ul .view-more {
        display:none
    }
}

.section_product_goodprice .tab-content {
    display: none
}

.section_product_goodprice .tab-content.current {
    display: block
}

.section_product_goodprice .tab-content.current .a-center {
    text-align: center
}

.section_product_goodprice .tab-content .view-more {
    text-align: center;
    display: block
}

@media (min-width: 768px) {
    .section_product_goodprice .tab-content .view-more {
        display:none
    }
}

.section_product_goodprice .tab-content .view-more a {
    display: inline-block;
    padding: 20px 70px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    background: #1c5b41;
    border-radius: 10px
}

@media (max-width: 767px) {
    .section_product_goodprice .tab-content .view-more a {
        padding:10px 25px;
        font-size: 12px
    }
}

.section_product_goodprice .tab-content .view-more a:hover {
    background: #fe9614
}

.section_product_goodprice .tab-content .swiper_tab {
    margin-bottom: 40px
}

.section_blog {
    padding-bottom: 50px;
    background: #FFFAF0
}

@media (max-width: 767px) {
    .section_blog {
        padding-bottom:10px;
        padding-top: 25px;
        background: #fff
    }
}

.section_blog img {
    border-radius: 10px
}

@media (max-width: 991px) {
    .section_blog .item {
        margin:10px 0
    }

    .section_blog .item:first-child .item-blog {
        display: block
    }

    .section_blog .item:first-child .item-blog .block-thumb {
        width: 100% !important
    }

    .section_blog .item:first-child .item-blog .block-content {
        width: 100% !important
    }

    .section_blog .item:first-child .item-blog .block-content p.justify {
        display: block !important;
        margin: 0
    }

    .section_blog .item:last-child .item-blog {
        border-bottom: 0
    }
}

.section_blog .block-title a {
    color: #1c5b41 !important
}

.section_blog .block-title a:hover {
    color: #fe9614 !important
}

@media (max-width: 767px) {
    .section_blog .block-title h2:after {
        left:27%
    }
}

@media (max-width: 991px) {
    .section_blog .block-blog .item-blog {
        display:flex;
        border-bottom: 1px solid #E5E5E5;
        padding-bottom: 15px
    }
}

@media (max-width: 767px) {
    .section_blog .block-blog .item-blog {
        padding-bottom:5px
    }
}

.section_blog .block-blog .item-blog .block-thumb {
    padding-bottom: 20px
}

@media (max-width: 767px) {
    .section_blog .block-blog .item-blog .block-thumb {
        padding-bottom:10px
    }
}

.section_blog .block-blog .item-blog .block-thumb .thumb {
    padding-bottom: 66%;
    display: block;
    height: 0;
    position: relative
}

.section_blog .block-blog .item-blog .block-thumb .thumb img {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    width: auto !important;
    height: auto !important;
    position: absolute
}

@media (max-width: 991px) {
    .section_blog .block-blog .item-blog .block-thumb {
        display:inline-block;
        margin-right: 15px;
        width: 300px
    }
}

@media (max-width: 767px) {
    .section_blog .block-blog .item-blog .block-thumb {
        width:130px
    }
}

@media (max-width: 767px) {
    .section_blog .block-blog .item-blog .block-content {
        margin-top:0
    }
}

.section_blog .block-blog .item-blog .block-content h3 {
    padding: 0px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
    color: #494949;
    line-height: 1.3
}

@media (max-width: 767px) {
    .section_blog .block-blog .item-blog .block-content h3 {
        margin:0;
        font-weight: 600;
        font-size: 13px;
        line-height: 1.3;
        padding-bottom: 5px
    }
}

.section_blog .block-blog .item-blog .block-content h3 a {
    color: #494949;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: initial;
    overflow: hidden
}

.section_blog .block-blog .item-blog .block-content h3 a:hover {
    color: #fe9614
}

.section_blog .block-blog .item-blog .block-content .post {
    padding: 0 5px;
    color: #C0C0C0
}

@media (max-width: 374px) {
    .section_blog .block-blog .item-blog .block-content .post {
        display:none
    }
}

.section_blog .block-blog .item-blog .block-content .time-post {
    font-weight: 400;
    font-size: 13px;
    line-height: 35px;
    color: #808080;
    display: inline-block;
    line-height: 1.3
}

.section_blog .block-blog .item-blog .block-content .time-post svg {
    width: 15px;
    height: 15px;
    margin-top: -5px;
    margin-right: 2px
}

@media (max-width: 767px) {
    .section_blog .block-blog .item-blog .block-content .time-post svg {
        width:12px;
        height: 12px
    }
}

@media (max-width: 767px) {
    .section_blog .block-blog .item-blog .block-content .time-post {
        font-size:12px;
        line-height: 1.3
    }
}

.section_blog .block-blog .item-blog .block-content p.justify {
    font-size: 14px;
    margin: 10px 0;
    font-weight: 400;
    line-height: 22px;
    color: #656565;
    height: 45px;
    overflow: hidden
}

@media (max-width: 767px) {
    .section_blog .block-blog .item-blog .block-content p.justify {
        display:none
    }
}

.section_blog .block-blog .item-blog .block-content .viewmore {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #303030
}

.section_blog .block-blog .item-blog .block-content .viewmore:hover {
    color: #fe9614
}

@media (max-width: 767px) {
    .section_blog .block-blog .item-blog .block-content .viewmore {
        display:none !important
    }
}

@media (max-width: 991px) {
    .section_blog .block-blog .item-blog .block-content {
        width:calc(100% - 320px);
        display: inline-block
    }
}

@media (max-width: 767px) {
    .section_blog .block-blog .item-blog .block-content {
        width:calc(100% - 145px)
    }
}

.section_brand {
    padding: 50px 0
}

@media (max-width: 767px) {
    .section_brand {
        padding:15px 0
    }
}

.section_brand .swiper-wrapper {
    display: flex;
    align-items: center;
    text-align: center
}

.block-title {
    padding-bottom: 35px;
    position: relative;
    padding-top: 20px;
    text-transform: uppercase
}

@media (max-width: 767px) {
    .block-title {
        text-align:center;
        padding-bottom: 5px
    }
}

.block-title h2 {
    font-weight: 700;
    letter-spacing: 0;
    position: relative;
    display: inline-block;
    margin: 0;
    font-size: 40px;
    padding-bottom: 10px;
    position: relative
}

@media (max-width: 1200px) {
    .block-title h2 {
        font-size:32px
    }
}

@media (max-width: 767px) {
    .block-title h2 {
        font-size:22px
    }
}

.block-title h2:after {
    content: "";
    width: 110px;
    height: 2px;
    background: #fe9614;
    position: absolute;
    left: 0;
    bottom: 85px;
    top: -25px
}

@media (max-width: 991px) {
    .block-title h2:after {
        bottom:90px
    }
}

@media (max-width: 767px) {
    .block-title h2:after {
        bottom:60px;
        left: 20%
    }
}

.block-title h2 span {
    color: #1c5b41
}

.section_product_featured .item {
    margin-bottom: 30px
}

.section_product_featured .block-product .view-more {
    text-align: center
}

.section_product_featured .block-product .view-more a {
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #363636;
    color: #fff;
    font-size: 14px;
    padding: 0 30px
}

.section_product_featured .block-product .view-more a:hover {
    background: #fe9614
}

.swiper-button-next:after,.swiper-button-prev:after {
    font-size: 16px;
    font-weight: bold;
    color: #333
}

.section_product_new .swiper-pagination {
    position: initial;
    margin-top: 15px
}

.section_product_featured {
    margin-bottom: 40px
}

.brand-swiper a {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center
}
