<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="description" content="Male_Fashion Template">
<meta name="keywords" content="Male_Fashion, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Male-Fashion | Template</title>

<!-- Google Font -->

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
	rel="stylesheet">
<link rel="stylesheet" href="/view/css/bootstrap.min.css"
	type="text/css">
<link rel="stylesheet" href="/view/css/font-awesome.min.css"
	type="text/css">
<link rel="stylesheet" href="/view/css/elegant-icons.css"
	type="text/css">
<link rel="stylesheet" href="/view/css/magnific-popup.css"
	type="text/css">
<link rel="stylesheet" href="/view/css/nice-select.css" type="text/css">
<link rel="stylesheet" href="/view/css/owl.carousel.min.css"
	type="text/css">
<link rel="stylesheet" href="/view/css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="/view/css/style.css" type="text/css">


<style type="text/css">
.sale-badge {
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 5px 10px;
	background-color: red;
	color: white;
	font-weight: bold;
	border-style: dotted;
}
</style>
</head>

<body n>
	<!-- Page Preloder -->


	<div th:replace="views/menu :: menu"></div>

	<!-- Hero Section Begin -->
	<section class="hero">
		<div class="hero__slider owl-carousel">
			<div class="hero__items set-bg"
				data-setbg="/background/hero/hero-1.jpg">
				<div class="container">
					<div class="row">
						<div class="col-xl-5 col-lg-7 col-md-8">
							<div class="hero__text">
								<h6>Summer Collection</h6>
								<h2>Fall - Winter Collections 2030</h2>
								<p>A specialist label creating luxury essentials. Ethically
									crafted with an unwavering commitment to exceptional quality.</p>
								<a href="/page" class="primary-btn">Shop now <span
									class="arrow_right"></span></a>
								<div class="hero__social">
									<a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i
										class="fa fa-twitter"></i></a> <a href="#"><i
										class="fa fa-pinterest"></i></a> <a href="#"><i
										class="fa fa-instagram"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="hero__items set-bg"
				data-setbg="/background/hero/hero-2.jpg">
				<div class="container">
					<div class="row">
						<div class="col-xl-5 col-lg-7 col-md-8">
							<div class="hero__text">
								<h6>Summer Collection</h6>
								<h2>Fall - Winter Collections 2030</h2>
								<p>A specialist label creating luxury essentials. Ethically
									crafted with an unwavering commitment to exceptional quality.</p>
								<a href="/page" class="primary-btn">Shop now <span
									class="arrow_right"></span></a>
								<div class="hero__social">
									<a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i
										class="fa fa-twitter"></i></a> <a href="#"><i
										class="fa fa-pinterest"></i></a> <a href="#"><i
										class="fa fa-instagram"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- Banner Section Begin -->
	<section class="banner spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 offset-lg-4">
					<div class="banner__item">
						<div class="banner__item__pic">
							<img src="/background/banner-1.jpg" alt="">
						</div>
						<div class="banner__item__text">
							<h2>Bộ sưu tập quần áo 2023</h2>
							<a href="/page">Shop now</a>
						</div>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="banner__item banner__item--middle">
						<div class="banner__item__pic">
							<img src="/background/banner-2.jpg" alt="">
						</div>
						<div class="banner__item__text">
							<h2>Accessories</h2>
							<a href="/page">Shop now</a>
						</div>
					</div>
				</div>
				<div class="col-lg-7">
					<div class="banner__item banner__item--last">
						<div class="banner__item__pic">
							<img src="/background/banner-3.jpg" alt="">
						</div>
						<div class="banner__item__text">
							<h2>Phụ kiện</h2>
							<a href="/page ">Shop now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Banner Section End -->
	<b>Top 8 Sản Phẩm Bán Chạy Nhất</b>
	<!-- end-->
	<!-- Product Section Begin -->
	<section class="product spad">
		<div class="container">
			<div class="row">
				<div class="row">
					<th:block th:each="product : ${session.listPro}">
						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="product__discount__item" style="margin-bottom: 30px;">
								<div class="product__discount__item__pic set-bg"
									style="background-color: #fff7f7; text-align: center;">
									<a th:href="@{/shop_info/{id}(id=${product.id})}"> <img
										th:src="@{'/images/' + ${product.img}}" class="contain"
										style="width: 300px; height: 300px; padding-bottom: 30px;"
										alt="" /> <span class="sale-badge"
										th:if="${product.checkSale}">sale</span>
									</a>
									<ul class="product__item__pic__hover">
										<li><a href="#"><i class="fa fa-heart"></i></a></li>
										<li><a href="#"><i class="fa fa-retweet"></i></a></li>
										<li><a th:href="@{/add-to-cart/{id}(id=${product.id})}"><i
												class="fa fa-shopping-cart"></i></a></li>
									</ul>
								</div>
								<div class="product__discount__item__text">
									<a href="#">
										<h5 th:text="${product.name}"></h5>
									</a>
									<div class="product__item__price" style="display: flex;">
										<b th:if="${product.checkSale()}"
											style="color: red; text-decoration: line-through;"
											th:utext="${#numbers.formatCurrency(product.originalPrice)}">
										</b> <b th:utext="${#numbers.formatCurrency(product.price)}"></b>
									</div>
								</div>


							</div>
						</div>
					</th:block>
				</div>

				<div class="product__pagination"
					style="display: flex; padding-left: 380px;">
					<a th:href="@{/page/{i}(i=${i -1})}"
						th:each="i : ${#numbers.sequence(1 ,session.listPro.totalPages)}"
						th:text="${i}"> <i class="fa fa-long-arrow-right"></i>
					</a>
				</div>

			</div>
		</div>
		</div>
	</section>
	<!-- Product Section End -->

	<!-- Categories Section Begin -->
	<section class="categories spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="categories__text">
						<h2>
							Clothings Hot <br /> <span>Shoe Collection</span> <br />
							Accessories
						</h2>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="categories__hot__deal">
						<img src="img/product-sale.png" alt="">
						<div class="hot__deal__sticker">
							<span>Sale Of</span>
							<h5>$29.99</h5>
						</div>
					</div>
				</div>
				<div class="col-lg-4 offset-lg-1">
					<div class="categories__deal__countdown">
						<span>Deal Of The Week</span>
						<h2>Multi-pocket Chest Bag Black</h2>
						<div class="categories__deal__countdown__timer" id="countdown">
							<div class="cd-item">
								<span>3</span>
								<p>Days</p>
							</div>
							<div class="cd-item">
								<span>1</span>
								<p>Hours</p>
							</div>
							<div class="cd-item">
								<span>50</span>
								<p>Minutes</p>
							</div>
							<div class="cd-item">
								<span>18</span>
								<p>Seconds</p>
							</div>
						</div>
						<a href="#" class="primary-btn">Shop now</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="search-model">
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div class="search-close-switch">+</div>
			<form class="search-model-form">
				<input type="text" id="search-input" placeholder="Search here.....">
			</form>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			$(".product__discount__slider").owlCarousel({
				items : 3,
				loop : true,
				autoplay : true,
				autoplayTimeout : 1000,
				autoplayHoverPause : true
			});
		});
	</script>
	<!-- Search End -->

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
		integrity="sha512-JjU15kFVpM5wRrP4e3w2YQZRqBhWzk1wojUccXW/kwjT8A+on+nljKbzvyaX0+bMwCVdYkbTuzYQVfnB1G35oA=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script
		src="https://slidesigma.com/themes/html/foodmart/assets/js/jquery.min.js"></script>
	<!-- Popper -->
	<script
		src="https://slidesigma.com/themes/html/foodmart/assets/js/popper.min.js"></script>
	<!-- Bootstrap -->
	<script
		src="https://slidesigma.com/themes/html/foodmart/assets/js/bootstrap.min.js"></script>
	<script
		src="https://slidesigma.com/themes/html/foodmart/assets/js/swiper.min.js"></script>

	<!-- custom -->
	<script
		src="https://slidesigma.com/themes/html/foodmart/assets/js/foodmart.js"></script>
	<!-- Js Plugins -->
	<!-- Js Plugins -->
	<script src="/details/js/bootstrap.min.js"></script>
	<script src="/details/js/jquery.slicknav.js"></script>
	<script src="/details/js/owl.carousel.min.js"></script>
	<script src="/details/js/main.js"></script>


	<!-- Js Plugins -->
	<script src="/view/js/jquery-3.3.1.min.js"></script>
	<script src="/view/js/jquery.nice-select.min.js"></script>
	<script src="/view/js/jquery.nicescroll.min.js"></script>
	<script src="/view/js/jquery.magnific-popup.min.js"></script>
	<script src="/view/js/jquery.countdown.min.js"></script>
	<script src="/view/js/jquery.slicknav.js"></script>
	<script src="/view/js/mixitup.min.js"></script>
	<script src="/view/js/owl.carousel.min.js"></script>
	<script src="/view/js/main.js"></script>
</body>

</html>